<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hapticfeedback">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Frame Information Bubbles (Remove Frame_Help if all ok) -->
        <activity
            android:name=".ui.frame.Frame_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.frame.Pin_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.frame.Delay_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.frame.Save_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.frame.Activation_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.frame.Name_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.frame.Load_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <!-- Sequence Information Bubbles (Remove Sequence_Help if all ok) -->
        <activity
            android:name=".ui.sequence.Sequence_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.sequence.Save_Sequence_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.sequence.Remove_Frames_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.sequence.Repetition_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.sequence.Name_Sequence_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.sequence.Select_Frames_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.sequence.Number_Frames_Help"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.sequence.Edited_Frame_Help"
            android:theme="@style/AppTheme.CustomTheme" />
    </application>

</manifest>